body{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Now Text", "Helvetica", "Arial", "sans-serif";
}
.navigationBar {
    display: flex;
    width: 100%;
    margin:0;
    top:0;
    overflow: hidden;
    height: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(9.8px);
}
.navigationBar div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigationBar a{
    text-decoration: none;
    color: black;
}
.navBar1{
    min-width: 360px;
    width: 90%;
}
.navBar2{
    width: 400px;
}
.navBar2 input{
    width:90%;
    max-width: 200px;
    top: 50px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    background: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
}
.navBar2 input:hover{
    background: rgb(255, 255, 255);
}
.navBar3{
    width: 5%;
}
.navBar4{
    width: 5%;
}
/*to set the size of image icons on menu bar*/
#navBarButtons img{
    height: 40px;
    width: 40px;
}
/*------------------login page styles-----------------*/
.loginBG{
    height: 50%;
    width: 50%;
    min-height: 150px;
    min-width: 200px;
    right:0;
}
.loginBodyContainer{
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}
#loginFieldContainer{
    width: 100%;
    max-width: 600px;
    padding-left: 100px;
    transition: opacity 0.5s ease-in-out;
}
.tableForLogin{
    width: 100%;
    font-size: 30px;
}
.tableForLogin td{
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 20px 0;
}
.tableForLogin a{
    text-decoration: none;
    color:black;
    font-size: 12px;
}
.tableForLogin input{
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    transition-delay: .2s;
}
.tableForLogin input:focus{
    outline: 0;
}
.tableForLogin input:focus::placeholder{
    opacity: 0;
}
.tableForLogin button{
    width: 100%;
    max-width: 305px;
    height: 30px;
    font-size: 12px;
    border-width: 1px;
}
.tableForLogin button:hover{
    color: red;
}
#loginBtn{
    background-color: black;
    color: white;
}
#loginBtn:hover{
    background-color: white;
    color: red;
}
#registerBtnLogin{
    background-color: white;
    
}
/*register field*/
#registerFieldContainer{
    display: none;
    width: 100%;
    max-width: 600px;
    padding-left: 100px;
    transition: opacity 0.5s ease-in-out;
}
