/*------------------login page styles-----------------*/
.loginBG{
    height: 50%;
    width: 50%;
    min-height: 150px;
    min-width: 200px;
    right:0;
}
.loginBodyContainer{
    color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}
#loginFieldContainer{
    width: 100%;
    max-width: 600px;
    padding-left: 100px;
    transition: opacity 0.5s ease-in-out;
}
.tableForLogin{
    width: 100%;
    font-size: 30px;
}
.tableForLogin td{
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 20px 0;
}
.tableForLogin a{
    text-decoration: none;
    color:black;
    font-size: 12px;
}
.tableForLogin input{
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border-width: 0 0 2px 0;
    transition-delay: .2s;
}
.tableForLogin input:focus{
    outline: 0;
}
.tableForLogin input:focus::placeholder{
    opacity: 0;
}
.tableForLogin button{
    width: 100%;
    max-width: 305px;
    height: 30px;
    font-size: 12px;
    border-width: 1px;
}
.tableForLogin button:hover{
    color: red;
}
#loginBtn{
    background-color: black;
    color: white;
}
#loginBtn:hover{
    background-color: white;
    color: red;
}
#registerBtnLogin{
    background-color: white;
    
}
/*register field*/
#registerFieldContainer{
    display: none;
    width: 100%;
    max-width: 600px;
    padding-left: 100px;
    transition: opacity 0.5s ease-in-out;
}
